@media screen and (min-width: 1000px) {
    .title {
        text-align: center;
        margin-top: 150px;
        margin-bottom: 100px;
        color: #59482E;
    }

    .title h2 {
        margin-bottom: 10px;
    }

    p {
        font-size: 1vw;
        color: #59482E;
    }

    h2 {
        font-size: 1.2vw;
        color: #59482E;
    }

    a {
        text-decoration-line: none;
    }

    a :hover {
        color: #A0C0C3;
        transition: 0.3s ease-in-out;
    }

    header {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        background: rgb(221, 237, 226, 0.5);
        z-index: 100;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 70%;
        margin: 0 auto;
        color: #59482E;
    }


    .header-logo p {
        padding-right: 40px;
        font-size: 1.2vw;
    }


    .header-title {
        display: flex;
        margin: 0 0 0 auto;
    }

    .header-title p {
        padding-left: 40px;
        font-size: 1.2vw
    }


    .hamburger-menu {
        display: none;
    }

    .menu-content {
        display: none;
    }

    main {
        width: 70%;
        margin: 0 auto;
    }

    .top {
        position: relative;
        margin-top: 130px;
        background: rgb(221, 237, 226);
        background: linear-gradient(45deg, rgba(221, 237, 226, 1) 0%, rgba(160, 192, 195, 1) 40%, rgba(160, 192, 195, 1) 60%, rgba(221, 237, 226, 1) 100%);
        border-radius: 30px;
        height: 35vw;
    }

    .top-read {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 60%;
        left: 50%;
        width: 100%;
    }

    .top-read h1 {
        font-size: 3vw;
        text-align: center;
        color: #59482E;
    }


    .top-read p {
        font-size: 2vw;
        text-align: right;
        margin-top: 100px;
        margin-right: 100px;
        line-height: 1.5;
        color: #59482E;
    }

    .indexabout-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .indexabout {
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
    }

    .indexabout-img {
        margin-left: 100px;
        width: 20vw;
        height: 15vw;
    }

    .indexabout-img img {
        width: 100%;
    }

    .indexabout-box {
        position: relative;
        margin: 0 auto;
        margin-top: 50px;
        border: 5px solid #ddede2;
        width: 30vw;
        height: 21vw;
        border-radius: 30px;
    }

    .indexabout-box_text {
        position: absolute;
        width: 80%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .text_name {
        line-height: 1.5;
    }

    .name1 p {
        font-size: 1.8vw;
    }

    .name2 p {
        font-size: 1.2vw;
    }

    .text_read {
        margin-top: 20px;
    }

    .text_read p {
        line-height: 2;
        font-size: 0.8;
        color: #59482E;
    }

    .indexbutton {
        text-align: right;
        margin-top: 20px;
    }

    .indexbutton a {
        color: #59482E;
        font-size: 1.2vw;
        transition: 0.3s ease-in-out;
        text-decoration-line: none;
    }

    .indexbutton a:hover {
        color: #ddede2;
    }


    .works {
        width: 100%;
        margin: 0 auto;
    }

    .works-content {
        margin-bottom: 100px;
    }

    .works-content-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .works-img {
        width: 100%;
        height: 100%;
    }

    .works-img img {
        width: 22vw;
        height: 17vw;
        object-fit: fill;
        border-radius: 30px;
    }


    .item {
        width: 22vw;
        height: 16.5vw;
        overflow: hidden;
        margin: 10px 8px 10px 16px;
        position: relative;
        border-radius: 30px;
        margin-bottom: 100px;
    }

    .item-texts {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.781);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .item-text {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 1vw;
        text-align: center;
        color: #59482E;
    }

    .item-texts:hover {
        opacity: 1;
    }

    footer {
        background-color: #ddede2;
        padding-top: 150px;
    }

    .footer-title {
        text-align: center;
        margin-bottom: 50px;
        color: #59482E;
    }

    .footer-title h2 {
        margin-bottom: 10px;
    }

    footer p {
        text-align: center;
        color: #59482E;
    }

    .mail {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .small p {
        font-size: 10px;
        padding-top: 150px;
    }
}

@media screen and (max-width: 999px) {
    .title {
        text-align: center;
        margin-top: 150px;
        margin-bottom: 50px;
        color: #59482E;
    }

    .title h2 {
        margin-bottom: 5px;
    }

    p {
        font-size: 12px;
        color: #59482E;
    }

    h2 {
        font-size: 18px;
        color: #59482E;
    }

    h3 {
        font-size: 14px;
        color: #59482E;
    }

    a {
        text-decoration-line: none;
    }

    a :hover {
        color: #A0C0C3;
        transition: 0.3s ease-in-out;
    }

    header {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        background: rgb(221, 237, 226, 0.5);
        z-index: 100;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 95%;
        margin: 0 auto;
        color: #59482E;
    }


    .header-logo p {
        font-size: 1.2vw;
    }


    .header-title {
        display: none;

    }

    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #3584bb;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }

    .menu-btn span:before {
        bottom: 8px;
    }

    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked~.menu-btn span {
        background-color: rgba(255, 255, 255, 0);
        /*メニューオープン時は真ん中の線を透明にする*/
    }

    #menu-btn-check:checked~.menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #menu-btn-check:checked~.menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn-check {
        display: none;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: #3584bb;
    }

    .menu-content ul {
        padding: 70px 10px 0;
    }

    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }

    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color: #ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }

    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        /*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;
        /*アニメーション設定*/
    }

    #menu-btn-check:checked~.menu-content {
        left: 20%;
    }


    main {
        width: 90%;
        margin: 0 auto;
    }

    .top {
        position: relative;
        margin-top: 130px;
        background: rgb(221, 237, 226);
        background: linear-gradient(45deg, rgba(221, 237, 226, 1) 0%, rgba(160, 192, 195, 1) 40%, rgba(160, 192, 195, 1) 60%, rgba(221, 237, 226, 1) 100%);
        border-radius: 30px;
        height: 300px;
    }

    .top-read {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
    }

    .top-read h1 {
        font-size: 4vw;
        text-align: center;
        color: #59482E;
    }

    .top-read p {
        position: absolute;
        transform: translate(-50%, 50%);
        top: 100%;
        left: 70%;
        font-size: 2vw;
        line-height: 1.5;
        color: #59482E;
    }

    .indexabout {
        margin-top: 50px;
    }

    .indexabout-img {
        width: 200px;
        height: 300px;
        margin: 0 auto;
    }

    .indexabout-img img {
        width: 100%;
    }

    .indexabout-box {
        position: relative;
        margin: 0 auto;
        border: 5px solid #ddede2;
        width: 300px;
        height: 250px;
        border-radius: 30px;
    }

    .indexabout-box_text {
        position: absolute;
        width: 80%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .text_name {
        line-height: 1.2;
    }

    .name1 p {
        font-size: 24px;
    }

    .name2 p {
        font-size: 16px;
    }

    .text_read {
        margin-top: 20px;
    }

    .text_read p {
        line-height: 1.5;
        font-size: 0.8;
        color: #59482E;
    }

    .indexbutton {
        text-align: right;
        margin-top: 20px;
    }

    .indexbutton a {
        color: #59482E;
        font-size: 1.2vw;
        transition: 0.3s ease-in-out;
        text-decoration-line: none;
    }

    .indexbutton a:hover {
        color: #ddede2;
    }

    .works-wrapper {
        width: 100%;
    }

    .works-img {
        margin: 0 auto;
        width: 300px;
        height: 200px;
    }

    .works-img img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 30px;
    }

    .item {
        width: 300px;
        height: 200px;
        overflow: hidden;
        margin: 10px 8px 10px 16px;
        position: relative;
        border-radius: 30px;
        margin-bottom: 50px;
    }

    .item-texts {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .item-text {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 16px;
        text-align: center;
        color: #ddede2;
    }

    .item-texts {
        opacity: 1;
    }

    footer {
        background-color: #ddede2;
        padding-top: 150px;
    }

    .footer-title {
        text-align: center;
        margin-bottom: 50px;
        color: #59482E;
    }

    .footer-title h2 {
        margin-bottom: 10px;
    }

    footer p {
        text-align: center;
        color: #59482E;
    }

    .mail {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .small p {
        font-size: 10px;
        padding-top: 150px;
    }

}