.work {
    display: flex;
}

.work-img_pc {
    width: 50%;
    margin-bottom: 100px;
}

.work-img_pc img {
    max-width: 80%;
    height: auto;
}

.work-img_mobile {
    width: 50%;
    margin-bottom: 200px;
}

.work-img_mobile img {
    max-width: 60%;
    height: auto;
}

.work-info {
    width: 50%;
}

.work-topic {
    font-weight: bold;
}

.work-topic p {
    font-size: 1.2vw;
}

.work-text {
    margin: 20px;
    line-height: 2;
    margin-bottom: 50px;
}

.work-text img {
    max-width: 100%;
    height: auto;
}